* {
  font-size: 1rem;
  /* font-family: "Open Sans", sans-serif; */
}
.container-sm {
  position: relative;
  top: 0.1rem;
  /* min-width: 80%; */
  max-width: 100%;
  border-radius: 10px;
  /* border: 10px solid red; */
  /* border: 0.2rem solid rgba(0, 0, 0, 0.404); */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  padding: 40px;
}
.searchdiv {
  padding-top: 1rem;
}
p {
  color: gray;
  padding-left: 1rem;
}
.img-fluid {
  width: 15%;
}
.form {
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.6);
  padding: 1rem;
}
.form-select {
  color: gray;
}
.header {
  margin-bottom: -2.2rem;
}
/* .header > p {
  color: gray;
  padding-left: 0rem;
} */
/* .form :hover {
  box-shadow: 0 0.5rem 0.4rem rgba(0, 0, 0, 0.6);
  padding: 1rem;
} */
/*  */
/* .input-group {z
  display: flex !important;
  flex-direction: column !important;
} */
/*
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
